body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-color: #0078d7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  #pc-container {
    width: 100%;
    height: 100vh;
    background-image: url(assets/windows11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #888;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  #header {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: #0078d7;
    color: #fff;
    font-size: 14px;
  }

  #bureau {
    flex-grow: 1;
    padding: 10px;
    position: relative;
  }

  #taskbar {
    height: 40px;
    background-color: #0078d7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

  #taskbar .heure {
    color: #fff;
    font-size: 14px;
    margin-left: auto;
  }

  #taskbar .date {
    color: #fff;
    font-size: 14px;
    margin-left: auto;
    background-color: #0065b8;
    width: 170px;
    height: 20px;
    border-radius: 5px;
  }

  .icone {
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
  }

  .icone img {
    width: 50px;
    height: 50px;
  }

  .icone span {
    margin-top: 5px;
    font-size: 12px;
  }

  .icone:nth-child(1) {
    top: 10px;
    left: 10px;
  }

  .icone:nth-child(2) {
    top: 10px;
    right: 10px;
  }

  .icone:nth-child(3) {
   position: absolute;
   bottom: 10px;
   left: 10px;
  }

  /* Styles for the video icon */
  .icone-video {
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 100px;
    left: 10px;
  }

  .icone-video img {
    width: 50px;
    height: 50px;
  }

  .icone-video span {
    margin-top: 5px;
    font-size: 12px;
  }

  /* Styles for the video */
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999;
  }

  .video-container .video-frame {
    width: 300%;
    height: 200%;
  }

  /* Styles for the close button */
  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    border-radius: 50%;
    display: none;
    z-index: 1000;
    cursor: pointer;
  }

  .close-button:before,
  .close-button:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 3px;
    width: 14px;
    height: 2px;
    background-color: #fff;
  }

  .close-button:before {
    transform: rotate(45deg);
  }

  .close-button:after {
    transform: rotate(-45deg);
  }

  /* Styles for the music icon */
  .icone-music {
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 100px;
    right: 10px;
  }

  .icone-music img {
    width: 50px;
    height: 50px;
  }

  .icone-music span {
    margin-top: 5px;
    font-size: 12px;
  }

  /* Styles for the music */
  .music-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999;
  }

  .music-container audio {
    width: 100%;
  }

  /* Styles for the pause button */
  .pause-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    border-radius: 50%;
    display: none;
    z-index: 1000;
    cursor: pointer;
  }

  .pause-button:before,
  .pause-button:after {
    content: '';
    position: absolute;
    top: 7px;
    left: 5px;
    width: 3px;
    height: 6px;
    background-color: #fff;
  }

  .pause-button:before {
    transform: translateX(-1px);
  }

  .pause-button:after {
    transform: translateX(4px);
  }

  /* Styles for the fake Discord icon */
  .icone-discord {
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: #7289da;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 200px;
    left: 10px;
  }

  .icone-discord img {
    width: 50px;
    height: 50px;
  }

  .icone-discord span {
    margin-top: 5px;
    font-size: 12px;
    color: #fff;
  }

  .fake-discord-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
  }

  .fake-discord-container .fake-discord {
    width: 400px;
    height: 600px;
    background-color: #aaaaaa;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .fake-discord-container .fake-discord h2 {
    color: #7289da;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .fake-discord-container .fake-discord p {
    color: #000;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .fake-discord-container .fake-discord .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .fake-discord-container .fake-discord .close-button:before,
  .fake-discord-container .fake-discord .close-button:after {
    content: '';
    position: absolute;
    width: 14px;
    height: 2px;
    background-color: #575757;
  }

  .fake-discord-container .fake-discord .close-button:before {
    transform: rotate(45deg);
  }

  .fake-discord-container .fake-discord .close-button:after {
    transform: rotate(-45deg);
  }

  .icone-drift {
  top: 200px;
  left: 200px;
  width: 80px;
  height: 80px;
  margin: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 780px;
  right: 30px;
  /* Autres styles */
  }

  .icone-drift img {
    width: 50px;
    height: 50px;
  }

  .icone-drift span {
    margin-top: 5px;
    font-size: 12px;
  }

  .icone-drift .video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999;
  }

  .icone-drift .video-container .video-frame {
    width: 100%;
    height: 100%;
    background-color: #000;
  }

  .icone-youtube {
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 200px;
    right: 10px;
  }

  .icone-youtube img {
    width: 50px;
    height: 50px;
  }

  .icone-youtube span {
    margin-top: 5px;
    font-size: 12px;
  }

  .icone-youtube .video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999;
  }

  .icone-youtube .video-container .video-frame {
    width: 100%;
    height: 100%;
    background-color: #000;
  }

  .icone-youtube .video-container .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    border-radius: 50%;
    display: none;
    z-index: 1000;
    cursor: pointer;
  }

  .icone-youtube .close-button:before,
  .icone-youtube .close-button:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 3px;
    width: 14px;
    height: 2px;
    background-color: #fff;
  }

  .icone-youtube .close-button:before {
    transform: rotate(45deg);
  }

  .icone-youtube .close-button:after {
    transform: rotate(-45deg);
  }